<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastero</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YKFB6N6XKP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YKFB6N6XKP');
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">

</head>
<body>

    {% include 'landing/nav.html' %}

    <main class="overflow-hidden">
        <!-- Header -->
        <div class="bg-gray-50">
        <div class="py-24 lg:py-32">
            <div class="relative z-10 max-w-7xl mx-auto pl-4 pr-8 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Get in touch</h1>
            <p class="mt-6 text-xl text-gray-500 max-w-3xl">Contact sales to enquire about the Mastero Enterprise plan and see how we can help elevate your product sourcing business.</p>
            </div>
        </div>
        </div>

        <!-- Contact section -->
        <section class="relative bg-gray-50 mb-10" aria-labelledby="contact-heading">
        <div class="absolute w-full h-1/2 bg-gray-50" aria-hidden="true"></div>
        <!-- Decorative dot pattern -->
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <svg class="absolute z-0 top-0 right-0 transform -translate-y-16 translate-x-1/2 sm:translate-x-1/4 md:-translate-y-24 lg:-translate-y-72" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
            <defs>
                <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
            </svg>
        </div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="relative bg-white shadow-xl">
            <h2 id="contact-heading" class="sr-only">Contact us</h2>

            <div class="grid grid-cols-1 lg:grid-cols-3">
                <!-- Contact information -->
                <div class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-teal-500 to-teal-600 sm:px-10 xl:p-12">
                <!-- Decorative angle backgrounds -->
                <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                    <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
                    <defs>
                        <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                        </linearGradient>
                    </defs>
                    </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
                    <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
                    <defs>
                        <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                        </linearGradient>
                    </defs>
                    </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
                    <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
                    <defs>
                        <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                        </linearGradient>
                    </defs>
                    </svg>
                </div>
                <h3 class="text-lg font-medium text-black">Contact information</h3>
                <p class="mt-6 text-base text-teal-50 max-w-3xl">Send us a message through our contact form or email us at the address below.</p>
                <dl class="mt-8 space-y-6">
                    <dt><span class="sr-only">Email</span></dt>
                    <dd class="flex text-base text-teal-50">
                    <!-- Heroicon name: outline/mail -->
                    <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                    <span class="ml-3">team@mastero.co</span>
                    </dd>
                </dl> 
                </div>

                <!-- Contact form -->
                <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                <h3 class="text-lg font-medium text-gray-900">Send us a message</h3>
                <form action="" method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                    <div>
                    <label for="first-name" class="block text-sm font-medium text-gray-900">{{ form.full_name.label }}</label>
                    <div class="mt-1">
                        {{ form.full_name(size=64, placeholder="Your Name", class_="py-3 px-4 shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-gray-50 text-black py-1 px-2" ) }} <br>
                        {% for error in form.full_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </div>

                    <div>
                    <label for="email" class="block text-sm font-medium text-gray-900">{{ form.email.label }}</label>
                    <div class="mt-1">
                        {{ form.email(size=64, placeholder="example@email.com", class_="py-3 px-4 shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-gray-50 text-black py-1 px-2" ) }} <br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </div>

                    <div class="sm:col-span-2">
                    <label for="subject" class="block text-sm font-medium text-gray-900">{{ form.subject.label }}</label>
                    <div class="mt-1">
                        {{ form.subject(size=64, placeholder="Enterprise Plan", class_="py-3 px-4 shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-gray-50 text-black py-1 px-2" ) }} <br>
                        {% for error in form.subject.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="sm:col-span-2">
                    <div class="flex justify-between">
                        <label for="message" class="block text-sm font-medium text-gray-900">{{ form.message.label }}</label>
                    </div>
                    <div class="mt-1">
                        {{ form.message(size=64, placeholder="Hello, I run a product sourcing business and I'd like to learn more about the Mastero Enterprise plan.", class_="py-3 px-4 shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-gray-50 text-black py-1 px-2" ) }} <br>
                        {% for error in form.message.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="sm:col-span-2 sm:flex sm:justify-end">
                        {{ form.submit(class_=" py-3 px-4 w-full flex items-center justify-center rounded-md bg-gray-800 text-white py-2 hover:bg-gray-900" ) }}
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </section>

    </main>


    {% include 'mastero-footer.html' %}
</body>
</html>

<script>
    // MOBILE MENU

  // get html elements
  const closeBtn = document.querySelector("#close-button");
  const burgerBtn = document.querySelector("#burger-button");
  const mobileMenu = document.querySelector("#mobile-menu");

  // event listeners
  closeBtn.addEventListener("click", () => {
  mobileMenu.classList.toggle("hidden");
  });

  burgerBtn.addEventListener("click", () => {
  mobileMenu.classList.toggle("hidden");
  });

</script>