
<!--


    THIS SHOULD SHOW THE FLOW OF THE SOFTWARE I.E. PRODUCT REQUEST -> SOURCE -> NOTIFICATION -> BUY


-->
<div class="relative bg-gray-50 pt-16 overflow-hidden pb-8" id="features">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base font-semibold tracking-wider text-indigo-600 uppercase">Request a Product</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        Improve Customer Experience
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        No more going back and forth on Instagram DMs. Let your customers request a product from your dedicated Mastero page. We'll create a page for you at your unique url (mastero.co/your-business-name) which you can customise with your logo, company name, socials and more!
      </p>
    </div>
    <div class="mt-12">
      <img class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" src="{{ url_for('static', filename='img/feature1.png') }}" alt="">
    </div>
  </div>
</div>

<div class="relative bg-gray-50 pt-16 overflow-hidden pb-8">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base font-semibold tracking-wider text-indigo-600 uppercase">Manage Your Business With Ease</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        Minimal Time, Minimal Effort.
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
         Save time and effort tracking and handling your requests, payments and orders with the Mastero admin panel. Reply to your customers with the click of a button, sending them a unique payment link (see section below) via SMS text message and email allowing them to purchase your product!
      </p>
    </div>
    <div class="mt-12">
      <img class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" src="{{ url_for('static', filename='img/feature2.png') }}" alt="">
    </div>
  </div>
</div>

<div class="relative bg-gray-50 pt-16 overflow-hidden pb-8">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base font-semibold tracking-wider text-indigo-600 uppercase">Accept Payments Online</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        Let Your Customers Pay Securely Online
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        Automated SMS text messages and emails are sent to the customer with a unique link to pay for their requested product. Don't worry though, you can still accept cash payments or even take a deposit payment online and let customers pay the rest in cash.
      </p>
    </div>
    <div class="mt-12">
      <img class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" src="{{ url_for('static', filename='img/feature3.png') }}" alt="">
    </div>
  </div>
</div>