<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastero</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YKFB6N6XKP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YKFB6N6XKP');
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">

</head>
<body>

    {% include 'landing/hero.html' %}
    {% include 'landing/features.html' %}
    {% include 'landing/pricing.html' %}
    {% include 'landing/cta.html' %}

    {% block content %}

    {% endblock %}

    {% include 'mastero-footer.html' %}
</body>
</html>

<script>
      // MOBILE MENU

	// get html elements
	const closeBtn = document.querySelector("#close-button");
    const burgerBtn = document.querySelector("#burger-button");
	const mobileMenu = document.querySelector("#mobile-menu");

	// event listeners
	closeBtn.addEventListener("click", () => {
	mobileMenu.classList.toggle("hidden");
	});

    burgerBtn.addEventListener("click", () => {
	mobileMenu.classList.toggle("hidden");
	});

</script>