{% extends 'admin/admin-base.html' %}


{% block content %}
    <div class="container m-auto mt-10 px-5">
        <div class="flex-1 min-w-0 mb-4">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            Edit payment link.
            </h2>
        </div>
        <form action="" method="post" class="space-y-8 divide-y divide-gray-200" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
            <div>
                <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Payment Link
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    This will create a unique link that will automatically be sent to the customer via email and SMS text message. The payment link allow your customers to pay for the item you sourced for them or decline your offer. 
                </p>
                </div>

                <div class="mt-6 sm:mt-5space-y-6 sm:space-y-5">
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                            {{ form.customer_full_name.label }}
                        </label>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {{ form.customer_full_name(size=64, class_="shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-white text-black py-1 px-2" ) }} <br>
                            {% for error in form.customer_full_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        <label for="product-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                            {{ form.product_name.label }}
                        </label>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {{ form.product_name(size=64, class_="shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-white text-black py-1 px-2" ) }} <br>
                            {% for error in form.product_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        <label for="size" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                            {{ form.size.label }}
                        </label>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {{ form.size(size=64, class_="shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-white text-black py-1 px-2" ) }} <br>
                            {% for error in form.size.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
                        <div>
                            <label for="product-image" class="block text-sm font-medium text-gray-700">
                            Product Image
                            </label>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                You can upload an image of the product for the customer to see. This field is optional.
                            </p>
                        </div>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="flex items-center">
                            <img src="{{ payment_link.product_image_url }}" class="h-24 w-24object-scale-down bg-gray-100" />
                            <input type="file" name="file" value="file" class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        </div>
                        <p class="mt-4 max-w-2xl text-sm text-gray-500">
                            
                        </p>
                        </div>
                    </div>


                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        <label for="price" class="block text-sm font-medium text-gray-700">
                            {{ form.price.label }}
                        </label>
                        <div class="mt-1 relative rounded-md shadow-sm">
                          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none pb-6">
                            <span class="text-gray-500 sm:text-sm">
                              £
                            </span>
                          </div>
                          {{ form.price(class_="pl-7 pr-12 shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-white text-black py-1 px-2" ) }} <br>

                          <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none pb-6">
                            <span class="text-gray-500 sm:text-sm" id="price-currency">
                              GBP
                            </span>
                          </div>
                        </div>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {% for error in form.price.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        <div>
                            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                {{ form.info.label }}
                            </label>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                Any extra information/description you'd like to give to the customer.
                            </p>
                        </div>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {{ form.info(size=64, class_="shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-white text-black py-1 px-2" ) }} <br>
                            {% for error in form.info.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        <div>
                            <label for="deposit-percentage" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                {{ form.deposit_percentage.label }}
                            </label>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                If the customer chooses to pay in cash, you can make them pay a deposit that's a percentage of the price.
                                Please enter a number between 0 and 100. If you leave this blank or enter 0 then no deposit will be required for a cash purchase.
                            </p>
                        </div>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {{ form.deposit_percentage(class_="shadow-sm border border-gray-300 focus:ring-black focus:border-black block sm:text-sm border-black w-full rounded-md rounded-md bg-white text-black py-1 px-2" ) }} <br>
                            {% for error in form.deposit_percentage.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
        
                
        
            <div class="pt-5">
            <div class="flex justify-end">
                {{ form.submit(class_="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500") }}
            </div>
            </div>
        </form>
    </div>

{% endblock %}
