{% extends 'customer-base.html' %}

{% block content %}

{% include 'company-logo.html' %}

<div class="flex place-content-center mt-10 mx-4">
    <div class="relative z-10 rounded-xl lg:w-1/2 sm:rounded-tl-xl lg:rounded-xl shadow-lg flex flex-col sm:flex-row xl:flex-row lg:-mr-8">
    <div class="max-w-md md:w-48 relative">
        <img src="{{ payment_link.product_image_url }}" alt="product image" class="relative md:absolute w-full h-80 md:h-full object-cover rounded-t-xl sm:rounded-l-xl sm:rounded-tr-none" />
    </div>
    <form class="flex-auto p-6">
      <!-- form.hidden_tag()  INSERT HERE-->
        <div class="block">
            <div class="flex flex-wrap mb-2">
                <h1 class="flex-auto text-xl font-semibold">
                  {{ payment_link.product_name }}
                </h1>
                <div class="text-xl font-semibold text-gray-500">
                    £{{'%0.2f'| format(payment_link.price|float)}}
                </div>
            </div>
    
        <div class="max-w-sm">
          {{ payment_link.info }}
        </div>
        <div class="w-full flex-none text-sm font-medium text-gray-500 mt-2 mb-2">
          This offer will expire on {{ payment_link.expire_at }}.
        </div>
      </div>
      <div class="flex space-x-3 mb-4 text-sm font-medium">
        <div class="flex-auto flex space-x-3">
          <button class="w-1/2 flex items-center justify-center rounded-md bg-black text-white py-2" type="submit">Buy now</button>
          <button class="w-1/2 flex items-center justify-center rounded-md border border-gray-300 py-2" type="button">Decline Offer</button>
        </div>
      </div>
      <p class="text-sm text-gray-500">
        Cash payment option {{ cash_payment_status }}.
      </p>
    </form>
</div>
  </div>
</div>


{% endblock %}